{% extends "base.html" %}
{% block content %}
		<h1 class="text-center">Add Offspring</h1>

    <div class="center">
		<form method="POST" action="{{ url_for('addOffspring') }}">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" name="name" id="name" minlength="1" maxlength="100" aria-describedby="name" placeholder="Enter name" required>
			</div>
			<div class="form-group">
				<label for="birth_year">Birth Year</label>
				<input type="text" class="form-control" name="birth_year" id="birth_year" minlength="1" maxlength="20" placeholder="Enter birth year, e.g. 2012" required>
		  </div>
          <div class="form-group">
				<label for="gender">Gender</label>
				<input type="text" class="form-control" name="gender" id="gender" minlength="1" maxlength="20" aria-describedby="gender" placeholder="Enter gender" required>
			</div>
            <div class="form-group">
				<label for="father">Father</label>
                <select name="stallions" id="stallions">
                {% for stallion in stallions %}
                    <option value="{{ stallion.name }}">{{ stallion.name }}</option>
                {% endfor %}
                </select>
			</div>
			<div class="form-group">
				<label for="mother">Mother</label>
				<input type="text" class="form-control" name="mother" id="mother" minlength="1" maxlength="200" placeholder="Enter mother" required>
		  </div>
			<div class="form-group">
				<label for="breed">Breed</label>
				<input type="text" class="form-control" name="breed" id="breed" minlength="1" maxlength="200" placeholder="Enter breed" required>
		  </div>
          <div class="form-group">
				<label for="country">Country</label>
				<input type="text" class="form-control" name="country" id="country" minlength="1" maxlength="200" aria-describedby="country" placeholder="Enter country" required>
			</div>
            <div class="form-group">
				<label for="owner">Owner</label>
				<input type="text" class="form-control" name="owner" id="owner" minlength="1" maxlength="200" aria-describedby="owner" placeholder="Enter owner" required>
			</div>
			<div class="form-group">
				<label for="achievements">Achievements</label>
				<input type="text" class="form-control" name="achievements" id="achievements" minlength="1" maxlength="500" placeholder="Enter achievements" required>
		  </div>

            <div class="container-fluid text-center mt-5">
                <div>
                    <button type="submit" class="btn btn-basic white mx-2">Add Offspring</button>
                    <button onclick="cancelOffspring()" type="button" class="btn btn-danger red mx-2">Cancel offspring</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}