{% extends "base.html" %}
{% block content %}
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active ">
				<img class="d-block w-100 img-fluid" src="{{ url_for('static', filename = 'images/foal.png') }}" alt="First slide">
            </div>
			<div class="carousel-item">
				<img class="d-block w-100 img-fluid" src="{{ url_for('static', filename = 'images/foal2.png') }}" alt="Second slide">
            </div>
            <div class="carousel-item">
				<img class="d-block w-100 img-fluid" src="{{ url_for('static', filename = 'images/foal3.png') }}" alt="Third slide">
            </div>
		</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
	</div>
    <h1>Offsprings</h1>

    <div class="center">
        <div class="search-div">
            <form action="{{url_for('search')}}" method="POST" class="search-form">
                <div class="search-box">
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Offspring(s)</label>
                </div>
                <div>
                    <a href="{{ url_for('offspringAI') }}" class="search-big-red-button">Reset</a>
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="search-result" >Number of results: {{ offsprings|count }}</div>
        {% for foal in offsprings %}
            <div class="offspring-data">
                <h4>Name: {{ foal.name|capitalize }}</h4>
                <h4>Birth Year: {{ foal.birth_year }}</h4>
                <h4>Gender: {{ foal.gender|capitalize }}</h4>
                <h4>Father: {{ foal.father|capitalize }}</h4>
                <h4>Mother: {{ foal.mother|capitalize }}</h4>
                <h4>Breed: {{ foal.breed|capitalize }}</h4>
                <h4>Country: {{ foal.country|capitalize }}</h4>
                <h4>Owner: {{ foal.owner|capitalize }}</h4>
                <h4>Achievements: {{ foal.achievements|capitalize }} </h4>
                {% if session.user|lower == foal.created_by|lower %}
                <a href="{{ url_for('editOffspring', offspring_id=foal._id) }}" class="btn btn-basic white">Edit</a>
                <a href="{{ url_for('deleteOffspring', offspring_id=foal._id) }}" class="btn btn-basic red">Delete</a>
                {% endif %}
                <br>
                <br>
                <br>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}