{% extends "base.html" %}
{% block content %}

    <h1 class="text-center">Register</h1>

    <form class="card col-md-6 offset-md-3" method="POST" action="{{ url_for('register') }}">
        <div class="card-body">
            <div class="row center">
                <!-- username -->
				<div class="form-group">
                    <i class="fas fa-user-plus"></i>
					<label for="username">Username:</label>
					<input type="text" class="form-control" id="username">
				</div>
                <!-- password -->
				<div class="form-group">
                    <i class="fas fa-user-lock"></i>
					<label for="password">Password:</label>
					<input type="password" class="form-control" id="password">
				</div>
                <!-- register -->
                <div class="row center">
                    <button class="red" type="submit">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
   
    <div class="space"></div>

{% endblock %}