{% extends "base.html" %}
{% block content %}

    <img class="center-image" src="{{ url_for('static', filename = 'images/sunrise2.jpg') }}" alt="sunrise" />
    <div class="center">
        <h4>Name: {{stallion.name|capitalize }}</h4>
        <h4>Birth Year: {{ stallion.birth_year }}</h4>
        <h4>Gender: {{ stallion.gender|capitalize }}</h4>
        <h4>Breed: {{ stallion.breed|capitalize }}</h4>
        <h4>Country: {{ stallion.country|capitalize }}</h4>
        <h4>Owner: {{ stallion.owner|capitalize }}</h4>
        <h4>Number of offsprings: {{ offspring }}</h4>
        <h4>Achievements: {{ stallion.achievements|capitalize }} </h4>
    </div>
{% endblock %}